body {
  background-color: #eaf2e3;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Nunito", sans-serif;
}

#navbar {
  background-color: transparent;
  color: #000;
  padding: 10px;
  /* Without the four declarations below (position, width, box-sizing, top), then hero area and navbar are at the top.  With them, there is a white bar on CodePen. On my site that top white bar is not there. */
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

#navbar-flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#logo img {
  width: 200px;
}

.signup-buttons #login-link,
.signup-buttons #signup-link,
#logout-button #logout-link {
  margin: 0px 30px 0 0;
  background-color: #ff9775;
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  font-family: helvetica, arial, sans-serif;
  border-radius: 4px;
  font-weight: 500;
}

.signup-buttons #signup-link {
  background-color: #009173;
}

#users-name {
  color: #17a2b8;
}

.login-div {
  width: 25%;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
}

.login-div h3 {
  text-align: center;
  margin-left: 10%;
}

.login-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.login-div button {
  background: #009173;
  border: 0px;
  padding: 15px;
  display: block;
  width: 110%;
}

.button {
  float: right;
  margin: 0px 50px 0 0;
  background-color: #e75448;
  padding: 10px 15px;
  color: white;
  font-family: helvetica, arial, sans-serif;
  border-radius: 4px;
  font-weight: 500;
}

a.button {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

/* BOARD */
#board {
  padding: 100px 30px 30px;
  margin-top: 40px;
  overflow-y: visible;
}

/* NOTE */

.note {
  float: left;
  display: block;
  position: absolute;
  padding: 1em;
  width: 300px;
  min-height: 300px;
  margin: 0 30px 30px 0;
  background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
  background-color: #b9dcf4;
  box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
  transform: rotate(2deg);
  transform: skew(-1deg, 1deg);
  transition: transform 0.15s;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
}
.note:hover {
  cursor: grab;
}

.note:before {
  display: block;
  content: "";
  background: rgba(227, 200, 114, 0.4);
  width: 130px;
  height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px/18px 0;
  position: absolute;
  top: -15px;
  left: 95px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.note img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

textarea {
  color: #777775;
  background-color: transparent;
  border: none;
  resize: vertical;
  /* font-family: "Roboto", sans-serif; */
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 12pt;
  font-weight: 300;
  margin-top: 10px;
}

textarea:focus {
  outline: none;
  border: none;
  /* box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2) inset; */
}

.add-note {
  position: absolute;
  display: flex;
  background-color: #ffbda2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  right: 1px;
  cursor: pointer;
}

.fa-image {
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
  color: #b5b5b5;
  background-color: #cecece;
  border-radius: 15px;
  box-shadow: 0 10px 0 #b5b5b5;
  padding: 25px;
  position: relative;
}
.fa-image:hover {
  cursor: pointer;
}
.fa-image:active {
  box-shadow: 0 0 0;
  top: 10px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin-left: 18px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  z-index: 1;
  position: absolute;
  right: -75px;
  z-index: 1;
  top: -12px;
}
.avatar-upload .avatar-edit input {
  /* display: none; */
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 15px;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input-url {
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid rgba(211, 211, 211, 0.8);
  padding: 8px;
  width: 250px;
  border-radius: 15px;
  text-align: center;
}

.save-note,
.update-note {
  float: right;
}

.delete-note {
  float: left;
}

/* button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

button:hover {
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.reg {
  color: white;
  background-color: rgb(236, 87, 87);
}
.reg:hover {
  background-color: rgb(218, 41, 27);
}

.log {
  color: rgb(124, 183, 182);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(124, 183, 182);
}

.log:hover {
  background-color: rgb(71, 207, 115);
} */

button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}

.log:hover {
  background-color: #2ee59d;

  color: #fff;
}

.reg:hover {
  background-color: rgb(236, 87, 87);

  color: #fff;
}
